@model ProductsListViewModel

<div class="dropdown m-1">
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        <span id="dropdown_title">Sorting</span>
    </button>
    <div class="dropdown-menu boot" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-searchString="@Model.SearchedString">Default</a>
        <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-searchString="@Model.SearchedString" asp-route-sortOrder=1>Price ascending</a>
        <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-searchString="@Model.SearchedString" asp-route-sortOrder=2>Price descending</a>
    </div>
</div>


@foreach (var p in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", p)
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" page-url-sortOrder="@Model.SortOrder" page-url-searchString="@Model.SearchedString"
     class="btn-group m-1">
</div>

