@model ProductsListViewModel

<div class="dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle m-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        <span id="dropdown_title">@Model.SortOrder</span><span class="caret"></span>
    </button>
    <ul ID="divNewNotifications" class="dropdown-menu boot" aria-labelledby="dropdownMenuButton">
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="@Model.CurrentCategory"
               asp-route-productPage="1" , asp-route-sortOrder="Default">Default</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="@Model.CurrentCategory"
               asp-route-productPage="1" , asp-route-sortOrder="Price ascending">Price ascending</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="@Model.CurrentCategory"
               asp-route-productPage="1" , asp-route-sortOrder="Price descending">Price descending</a>
        </li>
    </ul>
</div>


@foreach (var p in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", p)
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" , page-url-sortOrder="@Model.SortOrder"
     class="btn-group m-1">
</div>

