@model EditProductViewModel
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}

<style>
    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

        .image-area::before {
            content: 'Uploaded image result';
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.8rem;
            z-index: 1;
        }

        .image-area img {
            z-index: 2;
            position: relative;
        }
</style>


<form asp-action="EditProduct" method="post" enctype="multipart/form-data" id="form">
    <input type="hidden" asp-for="@Model.Product.ProductID" />
    <div class="form-group mt-3">
        <label asp-for="@Model.Product.Name"></label>
        <div><span asp-validation-for="@Model.Product.Name" class="text-danger"></span></div>
        <input asp-for="@Model.Product.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Description"></label>
        <div><span asp-validation-for="@Model.Product.Description" class="text-danger"></span></div>
        <textarea asp-for="@Model.Product.Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.LongDescription"></label>
        <div><span asp-validation-for="@Model.Product.LongDescription" class="text-danger"></span></div>
        <textarea asp-for="@Model.Product.LongDescription" class="form-control"></textarea>
    </div>
    <label>Picture</label>
    <div class="row py-4">
        <div class="col-lg-6 mx-auto">
            <!-- Upload image input-->

            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-dark">
                <input id="upload" type="file" onchange="readURL(this);" name="img" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>
            <!-- Uploaded image area-->
            <p class="font-italic text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4 border-dark"><img id="imageResult" src="@@Model.Product.ImagePath" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#imageResult')
                                .attr('src', e.target.result);
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $(function () {
                    $('#upload').on('change', function () {
                        readURL(input);
                    });
                });
            </script>
        </div>
    </div>
    <div>
        <label>Category</label>
        <select asp-for="@Model.Product.CategoryID" class="form-control" asp-items="@Model.Categories">
        </select>
    </div>

    <div class="form-group mt-2">
        <label class="mb-2">Specification</label>
        <div class="table-responsive">
            <table class="table table-bordered" id="dynamic_field">
                @Html.EditorFor(model => model.Product.Specification)
            </table>
        </div>
        <div class="text-center">
            <button type="button" name="add" id="add" class="btn btn-success mx-auto">Add</button>
            <button type="button" onclick=deleterow("dynamic_field") name="remove" id="btn-remove" class="btn btn-danger btn_remove mx-auto">Delete</button>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Product.Price"></label>
        <div><span asp-validation-for="@Model.Product.Price" class="text-danger"></span></div>
        <input asp-for="@Model.Product.Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="ListUsers" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        function deleterow(tableID) {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            table.deleteRow(rowCount - 1);
            $.ajax({
                async: true,
                type: "POST",
                url: '/Admin/DeleteLastElement',
                data: $('#form').serialize()
            });
        }

        $(document).ready(function () {
            var i = @Model.Product.Specification.Count();
            $('#add').on('click', function () {
                $.ajax({
                    async: true,
                    type: "POST",
                    url: '/Admin/AddSpecificationField',
                    data: $('#form').serialize(),
                    success: function (result) {
                        i++;
                        $('#dynamic_field').html(result);
                    },
                });
            });





            $.validator.methods.number = $.validator.methods.range = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
        });
    </script>
}